@import "tailwindcss";

:root {
  --background: #020016;
  --foreground: #D2FFF2;
  --accent: #6DFFD5;
}

/* Custom font classes */
.font-primary {
  font-family: var(--font-quicksand);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-secondary {
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}
